@import './base.scss';
:root {
  font-family: Poppins, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @include apply-at-md-size {
    font-size: 120%;
  }

  @include apply-at-lg-size {
    font-size: 125%;
  }
}

html {
  width: 100%;
  height: 100%;
}
body {
  @include global-theme;
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

html[data-theme='light'] {
  @include light-theme;
}

html[data-theme='dark'] {
  @include dark-theme;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
