@import './media-mixins.scss';

@mixin global-theme {
  --color-button: #ed0226;
}

@mixin light-theme {
  --color-text: #001a41;
  --color-background: linear-gradient(-45deg, #EDF1F4, #C3CBDC, #DEE4EA, #F9FCFF);
  --color-background-2: #f5f7fa;
  --color-text-gradient: -webkit-linear-gradient(45deg, #c20ea1, #dd2d7f, #ee4c5e, #f46d41);
}

@mixin dark-theme {
  --color-text: #f4eee0;
  --color-background: linear-gradient(-45deg, #121212, #1a1a1a, #1a1625, #2f2b3a);
  --color-background-2: #46424f;
  --color-text-gradient: -webkit-linear-gradient(45deg, #f2efdc, #f5f5f5);
}