@import '@styles/base';


    .header{
      @include directionX;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;
      margin-right: 50px;
      .nav{
        @include directionX;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
    }
    .header nav ul{
      @include directionX;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      gap: 8px;
    }
    .header nav ul li a{
      text-decoration: none;
      color: hsl(0, 0%, 75%);
    }
    .header nav ul li a:hover{
      color: black;
      font-weight: bold;
    }
    .form{
      @include directionX;
      justify-content: center;
      align-items: center;
      gap: 28px;
      .login{
        background: transparent;
        border: none;
        color: hsl(0, 0%, 75%);
        font-weight: bold;
        font-size: 14px;
      }
      .signup{
        background-color: hsl(180, 66%, 49%);
        padding: 8px 16px;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 14px;
    }
    .login:hover{
      cursor: pointer;
      color: black;
      font-weight: 600;
    }
    .signup:hover{
      cursor: pointer;
      color: white;
      font-weight: 600;
    }
  }


